* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

section {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.exit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #243447;
  border: none;
  color: #f00;
  font-weight: bold;
  font-size: 45px;
  line-height: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, color 0.2s;
}

.exit-btn:hover {
  background: #ff4d4d;
  color: #fff;
}

.page {
  position: relative;
  max-width: 720px;
  left: 50%;
  transform: translateX(-50%);
}

.hero {
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  position: absolute;
  width: 95%;
  top: 51%;
  background: url(../images/wa.png);
  height: 300px;
  border: none;
}

.form {
  position: absolute;
  width: 720px;
  text-align: center;
  top: 63%;
}

.form img {
  padding: 20px;
}

.stock-input {
  width: 90%;
  height: 8%;
  border-radius: 1rem;
  border: 2px solid #3ba2bc;
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  text-align: center;
  font-size: 30px;
  background: rgb(238 238 238);
  color: black;
}

.alert-wrap {
  position: fixed;
  inset: 0;
  display: flex;
  z-index: 99999;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.7);
}

.alert-box {
  padding: 30px;
  line-height: 1.5;
  word-break: break-word;
  overflow: auto;
  font-size: 35px;
  color: #fff;
  background: rgba(0,0,0,0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  max-width: 750px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.pulse-btn {
  animation: pulse2 1s linear infinite;
}

@keyframes pulse2 {
  0% {transform: scale(0.9);}
  50% {transform: scale(1);}
  100% {transform: scale(0.9);}
}

.overlay {
  position: fixed;
  display: none;
  inset: 0;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  align-items: center;
  background: rgba(0,0,0,0.7);
  color: white;
}

.progress-card {
  background: rgb(9, 76, 137);
  border-radius: 12px;
  padding: 32px 18px;
  max-width: 680px;
  margin: 60px auto;
}

.progress-card .card-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
}

.progress-card .label {
  font-size: 30px;
  font-weight: bold;
}

.steps .step {
  margin-bottom: 16px;
}

.step-title {
  font-size: 25px;
}

.line {
  background: #eee;
  border-radius: 8px;
  height: 16px;
}

.bar {
  width: 0%;
  background: #00dcf4;
  height: 100%;
  border-radius: 8px;
}

.result-card {
  position: relative;
  background: rgb(9, 76, 137);
  border-radius: 12px;
  padding: 32px 18px;
  height: inherit;
  margin: 26px auto;
  max-width: 680px;
}

.result-card .card-title {
  margin-bottom: 18px;
}

.result-card .label {
  font-size: 30px;
  font-weight: bold;
}

.result-body .desc {
  font-size: 25px;
  margin-bottom: 18px;
}

.result-body .btn {
  background: #15a223;
  color: #fff;
  padding: 12px 0;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-size: 30px;
}
